<script type="application/javascript">

    {% if form.errors %}
    {% for field, errors in form.errors.items %}
        {% for error in errors %}
            $('#div_{{field}}').append('<small class="form-text text-danger">{{ error }}</small>');
        {% endfor %}
    {% endfor %}
    {% endif %}

</script>