<nav class="navbar navbar-expand-md bg-light navbar-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">
            <b>SIMBION</b>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">

            <ul class="navbar-nav">
                {% if request.user.is_mahasiswa %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Status Beasiswa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'beasiswa-register' %}">Daftar Beasiswa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hasil Seleksi</a>
                    </li>
                {% elif request.user.is_donatur %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'donatur_list_beasiswa' %}">Beasiswa Anda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'donatur_beasiswa_baru' %}">Buat Beasiswa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Buat Pengumuman</a>
                    </li>
                {% elif request.user.is_admin %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tempat Wawancara</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Buat Tempat Wawancara</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Buat Pengumuman</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">
                        <i class="fa d-inline fa-lg fa-user-circle-o"></i>  Daftar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">
                        <i class="fa d-inline fa-lg fa-user-circle-o"></i>  Masuk</a>
                    </li>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Keluar</a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>
