{% extends 'layout/base.html' %}

{% block subtitle %} Daftar Beasiswa - {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Daftar beasiswa</h1>

            <form class="py-3" action="{% url 'beasiswa-register' %}" method="POST">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="id_{{ form.kode_beasiswa.name }}" class="col-sm-3 col-form-label">{{ form.kode_beasiswa.label }}</label>
                    <div class="col-sm-9" id="div_{{ form.kode_beasiswa.name }}">
                        {{ form.kode_beasiswa }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_{{ form.npm.name }}" class="col-sm-3 col-form-label">{{ form.npm.label }}</label>
                    <div class="col-sm-9" id="div_{{ form.npm.name }}">
                        {{ form.npm }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_{{ form.email.name }}" class="col-sm-3 col-form-label">{{ form.email.label }}</label>
                    <div class="col-sm-9" id="div_{{ form.email.name }}">
                        {{ form.email }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_{{ form.ips.name }}" class="col-sm-3 col-form-label">{{ form.ips.label }}</label>
                    <div class="col-sm-9" id="div_{{ form.ips.name }}">
                        {{ form.ips }}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary pull-right">Daftar Beasiswa</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% include 'additionals/js_form_errors.html' %}
{% endblock %}