{% extends 'layout/base.html' %}

{% block content %}
<div class="container jumbotron">
    <div class="row py-5 text-center">
        <div class="col-md-12 text-center">
            <h1>{{ beasiswa.nama }} - {{ beasiswa.kode }}</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <h3 class="col-md-12 py-2">Beasiswa {{ beasiswa.jenis }}, oleh {{ beasiswa.nomor_identitas_donatur.nama }}</h3>
        <h3 class="col-md-12 py-2"></h3>
        <h3 class="col-md-12 py-2">{{ beasiswa.deskripsi }}</h3>
        <h3 class="col-md-12 py-2"></h3>
        <h3 class="col-md-12 py-2">Syarat     :</h3>
        <ul>
            {% for current_syarat in syarat_beasiswa %}
            <li class="col-md-12 py-2"><h3> {{ current_syarat.syarat }}</h3></li>
            {% endfor %}
        </ul>
        {% if request.user.is_mahasiswa and skema_beasiswa_aktif.is_registration_open %}
        <div class="py-3">
            <a href="{% url 'beasiswa-register' %}?id={{ beasiswa.kode }}-{{ skema_beasiswa_aktif.no_urut }}" class="btn btn-primary">
                <i class="fa fa-sm fa-pencil"></i>  Daftar Beasiswa Ini
            </a>
        </div>
        {% endif %}       
    </div>
</div>
{% endblock %}