{% extends 'layout/base.html' %}

{% block subtitle %} Beasiswa Baru - {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Menambahkan Beasiswa dari Paket</h1>

            <form class="py-3" action="{% url 'donatur_beasiswa_baru_tambahkan_paket' %}" method="POST">
                {% csrf_token %}
                <div class="form-group row">
                  <label for="kode_beasiswa" class="col-sm-3 col-form-label">{{ form.kode_beasiswa.label }}</label>
                  <div class="col-sm-9" id="div_{{ form.kode_beasiswa.name }}">
                    {{ form.kode_beasiswa }}
                  </div>
                </div>
                <div class="form-group row">
                    <label for="nomor_urut" class="col-sm-3 col-form-label">{{ form.nomor_urut.label }}</label>
                    <div class="col-sm-9" id="div_{{ form.nomor_urut.name }}">
                        {{ form.nomor_urut }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="tanggal_mulai" class="col-sm-3 col-form-label">{{ form.tanggal_mulai.label }}</label>
                    <div class="col-sm-9" id="div_{{ form.tanggal_mulai.name }}">
                        {{ form.tanggal_mulai }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="tanggal_tutup" class="col-sm-3 col-form-label">{{ form.tanggal_tutup.label }}</label>
                    <div class="col-sm-9" id="div_{{ form.tanggal_tutup.name }}">
                        {{ form.tanggal_tutup }}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary pull-right">Tambahkan Beasiswa</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% include 'additionals/js_form_errors.html' %}
{% endblock %}