{% extends 'layout/base.html' %}

{% block content %}
<div class="container">
    <div class="container">
        <div class="row py-2">
            <div class="col-md-12 text-center">
                <h1>List Pendaftar Beasiswa - {{ nama_skema }} - {{ no_urut }}</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="w-20">No Urut Pendaftar</th>
                        <th class="w-20">Nama</th>
                        <th class="w-20">NPM</th>
                        <th class="w-20">Waktu Daftar</th>
                        <th class="w-10">Status Terima</th>
                        <th class="w-10">Pilih</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pendaftar, no_urut in pendaftar_list %}
                    <tr>
                        <td class="w-20">{{ no_urut }}</td>
                        <td class="w-20">{{ pendaftar.nama }}</td>
                        <td class="w-20">{{ pendaftar.npm }}</td>
                        <td class="w-20">{{ pendaftar.waktu_daftar|date:"d M Y" }}</td>
                        <td class="w-10 status">{{ pendaftar.status_terima }}</td>
                        <td class="w-10">
                            {% if pendaftar.status_terima == 'Pending' %}
                            <a href="{% url 'donatur_terima_mahasiswa' pendaftar.kode_skema_beasiswa.kode pendaftar.no_urut pendaftar.npm %}" class="btn btn-success">
                                Terima
                            </a>
                            <a href="{% url 'donatur_tolak_mahasiswa' pendaftar.kode_skema_beasiswa.kode pendaftar.no_urut pendaftar.npm %}" class="btn btn-warning">
                                Tolak
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}