{% extends 'layout/base.html' %}

{% block content %}
<style>
    #no_urut:hover {
        background-color: #333333;
        color: white;
    }
    #kode_skema:hover {
        background-color: #333333;
        color: white;
    }
    #nama_skema:hover {
        background-color: #333333;
        color: white;
    }
    #waktu_tutup:hover {
        background-color: #333333;
        color: white;
    }
    #status:hover {
        background-color: #333333;
        color: white;
    }
    #jumlah_pendaftar:hover {
        background-color: #333333;
        color: white;
    }
</style>
<div class="container">
    <div class="container">
        <div class="row py-2">
            <div class="col-md-12 text-center">
                <h1>List Beasiswa Anda</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="beasiswa_table" class="table table-hover tablesorter">
                <thead>
                    <tr>
                        <th class="w-20" id="no_urut">No Urut<br>Skema Beasiswa</th>
                        <th class="w-30" id="kode_skema">Kode Skema</th>
                        <th class="w-30" id="nama_skema">Nama Skema</th>
                        <th class="w-20" id="waktu_tutup">Waktu Penutupan</th>
                        <th class="w-20" id="status">Status</th>
                        <th class="w-10" id="jumlah_pendaftar">Jumlah Pendaftar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for beasiswa in beasiswa_list %}
                    <tr>
                        <td class="w-20">
                            <a href="{% url 'donatur_beasiswa' beasiswa.kode beasiswa.no_urut %}" style="color: black">
                                {{ beasiswa.no_urut }}
                            </a>
                        </td>
                        <td class="w-30">
                            <a href="{% url 'donatur_beasiswa' beasiswa.kode beasiswa.no_urut %}" style="color: black">
                                {{ beasiswa.kode }}
                            </a>
                        </td>
                        <td class="w-30">
                            <a href="{% url 'donatur_beasiswa' beasiswa.kode beasiswa.no_urut %}" style="color: black">
                                {{ beasiswa.nama }}
                            </a>
                        </td>
                        <td class="w-20">{{ beasiswa.tgl_tutup_pendaftaran|date:"d M Y" }}</td>
                        <td class="w-20">{{ beasiswa.status }}</td>
                        <td class="w-10">{{ beasiswa.jumlah_pendaftar }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% include 'additionals/table_sorter.html' %}

<script>
    $(document).ready(function() {
        $("#beasiswa_table").tablesorter();
    });
</script>
{% endblock %}