{% extends 'layout/base.html' %}

{% block subtitle %} Beasiswa Baru - {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Membuat Paket Beasiswa Baru</h1>

            <form class="py-3" action="{% url 'donatur_beasiswa_baru_membuat_paket' %}" method="POST">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="kode" class="col-sm-3 col-form-label">{{ form.kode.label }}</label>
                    <div class="col-sm-9" id="div_{{ form.kode.name }}">
                        {{ form.kode }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="nama_paket" class="col-sm-3 col-form-label">{{ form.nama_paket.label }}</label>
                    <div class="col-sm-9" id="div_{{ form.nama_paket.name }}">
                        {{ form.nama_paket }}
                    </div>
                </div>
                <div class="form-group row">
                  <label for="nama_paket" class="col-sm-3 col-form-label">{{ form.jenis_beasiswa.label }}</label>
                  <div class="col-sm-9" id="div_{{ form.jenis_beasiswa.name }}">
                    {{ form.jenis_beasiswa }}
                  </div>
                </div>
                <div class="form-group row">
                    <label for="deskripsi" class="col-sm-3 col-form-label">{{ form.deskripsi.label }}</label>
                    <div class="col-sm-9" id="div_{{ form.deskripsi.name }}">
                        {{ form.deskripsi }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="syarat_beasiswa" class="col-sm-3 col-form-label">Syarat Beasiswa</label>
                    <div class="col-sm-9">
                        <input type="text" name="syarat1" class="form-control" id="syarat" maxlength="50" required>
                    </div>
                </div>
                <div class="syarat_tambahan">
                </div>
                <div class="form-group">
                    <div class="syarat_button col-sm-12">
                        <button type="button" id="add_syarat_button" class="btn btn-secondary pull-right">Tambah Syarat</button>
                    </div>
                </div>
                <div class="py-5">
                    <button type="submit" class="btn btn-primary col-sm-5 pull-right">Buat Beasiswa</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% include 'additionals/js_form_errors.html' %}
<script>
    var now = 2;

    $(document).ready(function() {
        $('#add_syarat_button').click(function() {
            $('.syarat_tambahan').append(
                '<div class="form-group row">' +
                    '<div class="col-sm-3"></div>' +
                    '<div class="col-sm-9">' +
                        '<input type="text" name="syarat' + now + '" class="form-control" id="syarat" maxlength="50" required>' +
                    '</div>' +
                '</div>'
            )
            now += 1;
        })
    });
</script>
{% endblock %}