{% extends 'layout/base.html' %}

{% block subtitle %} Beasiswa Baru - {% endblock %}

{% block content %}
    <div class="container">
        <div class="row py-2">
            <div class="col-md-12 text-center">
                <h1>Pilih Metode untuk Beasiswa Baru</h1>
            </div>
        </div>
    </div>
    <div class="jumbotron text-center">
        <div class="row py-2">
            <div class="col-md-6">
                <p class="lead">
                    <a href="{% url 'donatur_beasiswa_baru_membuat_paket' %}" class="btn btn-primary btn-lg">Membuat Paket Beasiswa Baru</a>
                </p>
            </div>
            <div class="col-md-6">
                <p class="lead">
                    <a href="{% url 'donatur_beasiswa_baru_tambahkan_paket' %}" class="btn btn-success btn-lg">Menambahkan Beasiswa dari Paket</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}