{% extends 'layout/base.html' %}

{% block content %}
<div class="container">
    <div class="row py-5 text-center">
        <div class="col-md-12 text-center">
            <h1>Sistem Informasi Beasiswa Universitas X</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="w-50">Nama Beasiswa</th>
                        <th class="w-10">Pendaftaran Dibuka</th>
                        <th class="w-10">Pendaftaran Ditutup</th>
                        <th class="w-10">Status Beasiswa</th>
                        <th class="w-10">Jumlah Pendaftar</th>
                        {% if request.user.is_mahasiswa %} <th class="w-10"></th> {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for beasiswa in beasiswa_list %}
                    <tr>
                        {% if request.user.is_mahasiswa %}
                         <td class="w-50">
                            <a href="{% url 'mahasiswa_beasiswa_detail' beasiswa.kode beasiswa.no_urut %}" style="color: black">
                                {{ beasiswa.nama }}
                            </a>
                        </td>
                        {% else %}
                        <td class="w-50">
                            <a href="{% url 'beasiswa_detail' beasiswa.kode %}" style="color: black">
                                {{ beasiswa.nama }}
                            </a>
                        </td>
                        {% endif %}
                        <td class="w-10">{{ beasiswa.tgl_mulai_pendaftaran|date:"d M Y" }}</td>
                        <td class="w-10">{{ beasiswa.tgl_tutup_pendaftaran|date:"d M Y" }}</td>
                        <td class="w-10">{% if beasiswa.is_registration_open %} Dibuka {% else %} Ditutup {% endif %}</td>
                        <td class="w-10">{{ beasiswa.jumlah_pendaftar }}</td>
                        {% if request.user.is_mahasiswa %}
                            <td class="w-10">
                                {% if beasiswa.is_registration_open %}
                                <a href="{% url 'beasiswa-register' %}?id={{ beasiswa.kode }}-{{ beasiswa.no_urut }}" class="btn btn-primary">
                                    <i class="fa fa-sm fa-pencil"></i>  Daftar
                                </a>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}