{% extends 'layout/base.html' %}

{% block subtitle %} Masuk {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Masuk</h1>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-md"></div>
        <div class="col-md">
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Nama pengguna">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Kata sandi">
                </div>
                <div class="form-group text-right">
                    <button type="submit" class="btn btn-primary">Masuk</button>
                </div>
            </form>
        </div>
        <div class="col-md"></div>
    </div>
</div>

{% endblock %}