{% extends 'layout/base.html' %}

{% block subtitle %} Daftar sebagai yayasan donatur - {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Daftar sebagai yayasan donatur</h1>

            <form class="py-3" action="{% url 'register-donatur-yayasan' %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <h3>Akun</h3>
                </div>
                <div class="form-group row">
                    <label for="id_{{ form.username.name }}" class="col-sm-3 col-form-label">{{ form.username.label }}</label>
                    <div class="col-sm-9" id="div_{{ form.username.name }}">
                        {{ form.username }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_{{ form.password.name }}" class="col-sm-3 col-form-label">{{ form.password.label }}</label>
                    <div class="col-sm-9" id="div_{{ form.password.name }}">
                        {{ form.password }}
                    </div>
                </div>
                <div class="row">
                    <h3>Data diri</h3>
                </div>
                <div class="form-group row">
                    <label for="id_{{ form.nomor_identitas.name }}" class="col-sm-3 col-form-label">{{ form.nomor_identitas.label }}</label>
                    <div class="col-sm-9" id="div_{{ form.nomor_identitas.name }}">
                        {{ form.nomor_identitas }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_{{ form.no_sk_yayasan.name }}" class="col-sm-3 col-form-label">{{ form.no_sk_yayasan.label }}</label>
                    <div class="col-sm-9" id="div_{{ form.no_sk_yayasan.name }}">
                        {{ form.no_sk_yayasan }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_{{ form.email.name }}" class="col-sm-3 col-form-label">{{ form.email.label }}</label>
                    <div class="col-sm-9" id="div_{{ form.email.name }}">
                        {{ form.email }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_{{ form.nama.name }}" class="col-sm-3 col-form-label">{{ form.nama.label }}</label>
                    <div class="col-sm-9" id="div_{{ form.nama.name }}">
                        {{ form.nama }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_{{ form.no_telp.name }}" class="col-sm-3 col-form-label">{{ form.no_telp.label }}</label>
                    <div class="col-sm-9" id="div_{{ form.no_telp.name }}">
                        {{ form.no_telp }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_{{ form.npwp.name }}" class="col-sm-3 col-form-label">{{ form.npwp.label }}</label>
                    <div class="col-sm-9" id="div_{{ form.npwp.name }}">
                        {{ form.npwp }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id{{ form.alamat.name }}" class="col-sm-3 col-form-label">{{ form.alamat.label }}</label>
                    <div class="col-sm-9">
                        {{ form.alamat }}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary pull-right">Daftar</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% include 'additionals/js_form_errors.html' %}
{% endblock %}