{% extends 'layout/base.html' %}

{% block subtitle %} Daftar sebagai mahasiswa - {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Daftar sebagai mahasiswa</h1>

            <form class="py-3" action="{% url 'register-mhs' %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <h3>Akun</h3>
                </div>
                <div class="form-group row">
                    <label for="id_{{ form.username.name }}" class="col-sm-3 col-form-label">{{ form.username.label }}</label>
                    <div class="col-sm-9" id="div_{{ form.username.name }}">
                        {{ form.username }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_{{ form.password.name }}" class="col-sm-3 col-form-label">{{ form.password.label }}</label>
                    <div class="col-sm-9" id="div_{{ form.password.name }}">
                        {{ form.password }}
                    </div>
                </div>
                <div class="row">
                    <h3>Data diri</h3>
                </div>
                <div class="form-group row">
                    <label for="id_{{ form.npm.name }}" class="col-sm-3 col-form-label">{{ form.npm.label }}</label>
                    <div class="col-sm-9" id="div_{{ form.npm.name }}">
                        {{ form.npm }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_{{ form.email.name }}" class="col-sm-3 col-form-label">{{ form.email.label }}</label>
                    <div class="col-sm-9" id="div_{{ form.email.name }}">
                        {{ form.email }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_{{ form.nama.name }}" class="col-sm-3 col-form-label">{{ form.nama.label }}</label>
                    <div class="col-sm-9" id="div_{{ form.nama.name }}">
                        {{ form.nama }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_{{ form.no_telp.name }}" class="col-sm-3 col-form-label">{{ form.no_telp.label }}</label>
                    <div class="col-sm-9" id="div_{{ form.no_telp.name }}">
                        {{ form.no_telp }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_{{ form.alamat_tinggal.name }}" class="col-sm-3 col-form-label">{{ form.alamat_tinggal.label }}</label>
                    <div class="col-sm-9" id="div_{{ form.alamat_tinggal.name }}">
                        {{ form.alamat_tinggal }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_{{ form.alamat_domisili.name }}" class="col-sm-3 col-form-label">{{ form.alamat_domisili.label }}</label>
                    <div class="col-sm-9" id="div_{{ form.alamat_domisili.name }}">
                        {{ form.alamat_domisili }}
                    </div>
                </div>
                <div class="row">
                    <h3>Informasi rekening</h3>
                </div>
                <div class="form-group row">
                    <label for="id_{{ form.nama_bank.name }}" class="col-sm-3 col-form-label">{{ form.nama_bank.label }}</label>
                    <div class="col-sm-9" id="div_{{ form.nama_bank.name }}">
                        {{ form.nama_bank }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_{{ form.no_rekening.name }}" class="col-sm-3 col-form-label">{{ form.no_rekening.label }}</label>
                    <div class="col-sm-9" id="div_{{ form.no_rekening.name }}">
                        {{ form.no_rekening }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_{{ form.nama_pemilik.name }}" class="col-sm-3 col-form-label">{{ form.nama_pemilik.label }}</label>
                    <div class="col-sm-9" id="div_{{ form.nama_pemilik.name }}">
                        {{ form.nama_pemilik }}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary pull-right">Daftar</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% include 'additionals/js_form_errors.html' %}
{% endblock %}