{% extends 'layout/base.html' %}

{% block subtitle %} Daftar - {% endblock %}

{% block content %}

    <div class="container">
        <div class="row py-2">
            <div class="col-md-12 text-center">
                <h1>Pilih Role Anda</h1>
            </div>
        </div>
    </div>
    <div class="jumbotron text-center">
        <h1 class="display-4">Mahasiswa</h1>
        <hr>
        <p class="lead">
            <a href="{% url 'register-mhs' %}" class="btn btn-primary btn-lg">Daftar sebagai mahasiswa</a>
        </p>
    </div>
    <div class="jumbotron text-center">
        <h1 class="display-4">Donatur</h1>
        <hr>
        <div class="row py-2">
            <div class="col-md-6">
                <p class="lead">
                    <a href="{% url 'register-donatur-yayasan' %}" class="btn btn-warning btn-lg">Daftar sebagai yayasan donatur</a>
                </p>
            </div>
            <div class="col-md-6">
                <p class="lead">
                    <a href="{% url 'register-donatur-individu' %}" class="btn btn-info btn-lg">Daftar sebagai donatur individu</a>
                </p>
            </div>
        </div>
    </div>

{% endblock %}